.bubble-container {
  position: absolute;
  bottom: 0;
}

.bubble {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #888;
  border-radius: 50%;
  transform: scaleY(1.1);
}

.bubble h2 {
  font-size: 1vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bubble .textWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;  
}

.bubble::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Adjust this value to move the "tail" up or down */
  left: 45%; /* Adjust this value to move the "tail" left or right */
  width: 15px;
  height: 50px; /* Adjust this to change the size of the "tail" */
  background-color: inherit; /* The "tail" will be the same color as the bubble */
  border-radius: 50%;
}
