.bubbleContainer {
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.switchButton {
  position: fixed;
  bottom: 20px;
  left: 20px;
}