.bubble {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #888;
    border-radius: 50%;
    animation: float 3s ease-in infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  