.bubbleContainer {
  position: relative; /* add this line */
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100vw; /* add this line */
  height: 80vh; /* add this line */
  overflow: hidden; /* add this line */
}


.switchButton {
  position: fixed;
  top: 20px;
  left: 20px;
}