/* src/styles/CreateTopic/CreateTopic.module.css */
.container {
    align-items: center;
    border-color: blueviolet;
    border-radius: 5px;
    padding: 0 50px;
  }

  .topicInput {
    margin-top: 30px;
  }