.container {
    width: 100%;
    margin: auto;
  }
  
  .commentTable {
    width: 100%;
    border-collapse: collapse;
    border: 0.1px solid lightgrey;
    background-color: #ffffffbb;
  }

  .commentRow td {
    border-bottom: 0.1px solid lightgrey;
  }

  .commentTable td {
    padding: 20px 10px;
  }
  
  .tableHeader {
    height: 50px;
    background-color: white;
    color: #46494f;
    text-align: left;
    padding-left: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 0.1px solid lightgrey;
  }
  
  .commentTitle {
    font-weight: bold;
  }
  
  .commentAuthor {
    padding-left: 10px;
    font-size: small;
    color: grey;
  }

  .commentContent {
    padding: 10px;
    font-size: small;
  }
  