.replyButton {
    background: linear-gradient(90deg, #1f5999 0%, #1f5999 35px, #2569b5 35px, #2569b5 100%);
    color: white;
    font-size: small;
    border: none;
    border-radius: 3px;
    padding: 10px 12px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 40px;
  }

  .replyButton:hover {
      background: linear-gradient(90deg, #0e2744 0%, #0e2744 35px, #19487d 35px, #19487d 100%);
  }