.container {
  background-color: #f0f4f8;
  min-height: 100vh;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.logo {
  /* Add logo styles */
}

.avatar {
  /* Add avatar styles */
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.categoryCard {
  box-sizing: border-box;
  padding: 70px;
  background-color: #75A2A2;
  text-decoration: none !important;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: perspective(600px) rotateX(0deg) rotateY(0deg); 
  /* Add perspective and transform-style to create a 3D effect */
  perspective: 1000px;
  transform-style: preserve-3d;
}

.categoryCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.3s ease;
  z-index: -1;
}

.categoryCard:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #FFC600;
  transition: transform 0.8s, box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
}

.cardRotateA:hover {
  transform: perspective(600px) rotateX(-10deg) rotateY(10deg) scale(1.1);
}

.cardRotateB:hover {
  transform: perspective(600px) rotateX(-10deg) rotateY(-10deg) scale(1.1);
}

.cardRotateC:hover {
  transform: perspective(600px) rotateX(10deg) rotateY(10deg) scale(1.1);
}

.cardRotateD:hover {
  transform: perspective(600px) rotateX(10deg) rotateY(-10deg) scale(1.1);
}


.categoryCard:hover::before {
  transform: scaleY(1);
  background-color: transparent;
}

.cardHovered ~ .categoryCard {
  transform: scale(0.8);
  transition: transform 0.3s;
}

.nonHoveredA {
  transform: translateX(-40px) translateY(-40px) scale(0.8) perspective(600px) rotateX(-10deg) rotateY(10deg);
  transition: transform 0.3s;
}

.nonHoveredB {
  transform: translateX(40px) translateY(-40px) scale(0.8) perspective(600px) rotateX(-10deg) rotateY(-10deg);
  transition: transform 0.3s;
}

.nonHoveredC {
  transform: translateX(-40px) translateY(40px) scale(0.8) perspective(600px) rotateX(10deg) rotateY(10deg);
  transition: transform 0.3s;
}

.nonHoveredD {
  transform: translateX(40px) translateY(40px) scale(0.8) perspective(600px) rotateX(10deg) rotateY(-10deg);
  transition: transform 0.3s;
}


.categoryTitle {
  color: #4B0082;
  text-decoration: none;
}

.categoryCard:nth-child(2n) {
  margin-right: 0;
}

.categoryCard:nth-child(2n + 1) {
  margin-right: 20px;
}
