.container {
    background-color: #46494f;
    color: white;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .title {
    color: white;
    font-weight: 400;
    align-items: center;
    margin-bottom: 0;
  }