.container {
    background-color: white;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .title {
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    align-items: left;
    margin-bottom: 0;
  }